.all {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: 'Bungee Spice', cursive;
    font-size: 50px;
    text-shadow: 1px 1px 1px ;
}

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

  table {
    background-color: transparent;
    height: 300px;
    width: 300px;
    margin: auto;
  }

  td {
    background-color: antiquewhite;
    border: 1px black;
  }

  td:hover {
    background-color: black;
  }
  
  td:active {
    background-color: yellow;
  }

  .up {
    border-top: transparent;
  }

  .down {
    border-bottom: transparent;
  }

  .left {
    border-left: transparent;
  }

  .right {
    border-right: transparent;
  }
  